<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trafico-Aniscopio</title>
    <link rel="stylesheet" href="/static/estilos.css">
</head>

<body>

    <header class="encabezado">
        <h1>AUTOMATIZACION <span>Trafico Aniscopio</span></h1>
    </header>
    

    <div class="contenedor-descarga">
        <P>Descargar Archivo Trafico Aniscopio <br> "Dia Anterior"</P>
        <p><span>En Formato Separado por Comas ( csv )</span></p>
        
       <form action="/descargar_csv" method="get">
            <button type="submit" class="btn-descarga">DESCARGAR</button>
        </form>

    </div>

    <footer><p>&copy; 2025 Automatizacion Trafico Aniscopio. Todos los derechos reservados de Cristian Aguirre.</p></footer>

    <script src="/static/script.js"></script>
</body>
</html>